Makefile (2)
Makefile~
nbproject/Makefile-Debug.mk
nbproject/Makefile-Release.mk
nbproject/Makefile-impl.mk
nbproject/Makefile-variables.mk
nbproject/Package-Debug.bash
nbproject/Package-Release.bash
nbproject/configurations.xml
nbproject/private/Makefile-variables.mk
nbproject/private/configurations.xml
nbproject/private/launcher.properties
nbproject/private/private.xml
nbproject/project.xml
summation.exp
summation_1.exp
lab5,6/debug.txt
lab5,6/registers_count.txt
